description "Fabio"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

script
  # Make sure to use all our CPUs
  export GOMAXPROCS=`nproc`
  export GOGC=800

  exec /usr/bin/fabio \
    -cfg {{ fabio.directories.config }}/fabio.properties \
    >> {{ fabio.directories.log }}/fabio.log 2>&1
end script
