# fabio is a fast, modern, zero-conf load balancing HTTP(S) router for deploying applications managed by consul.
# Home: https://github.com/eBay/fabio

description "Fabio consul router"

start on filesystem and static-network-up
stop on runlevel [016]

console output

limit nofile 32768 32768

respawn
respawn limit 20 5

kill timeout 30

script
  exec su -s /bin/sh -c 'exec "$0" "$@"' {{ 'fabio' if fabio_create_user else 'root' }} -- \
  {{ fabio_binary_path }}/fabio -cfg {{ fabio_directories_config }}/fabio.properties \
  >> {{ fabio_directories_log }}/fabio.log 2>&1
end script
